{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Sign In{% endblock head_title %}

{% block content %}
{% include 'includes/messages.html' %}

<!--
    Inspired by "BLUSH BAKES BY RACH"
    URL: https://blush-bakes-blog-2f3197aab1bc.herokuapp.com/
    Description: This project was used as a reference for implementing the structure and design of the Sign In features. The approach of the project was inspirational in how I organized and styled our own site. Thanks to the author for sharing their work!
    -->
<div class="container">
  <div class="row">
    <div class="col-12" id="hero" >
    </div>
  </div>
</div>

<div class="container container-background border">
  <div class="container-form">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>Sign In</h1>
        <p>Welcome back, Beautiful! Ready to treat yourself? Sign in to view or schedule your next appointment</p>
        <p>And let us take care of the rest. Your beauty journey is just a click away!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction button-primary" type="submit">Sign In</button>
        </form>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-2">
          <p>You don't have an account? Then please <a href="{% url 'account_signup' %}" class="link">Register &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}