
/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Global styles for body, headings and paragraph */
body{
  font-family: 'Lato', sans-serif;
    color: #3e2a25;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

a{
  text-decoration: none;
  color:#c69c7b
}

a:hover{
  color:#b76e79
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif ;
    color: #4A474E;
}


/* Header */
.logo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-color: #b76e79;
  padding-top: 40px;
  padding-bottom: 60px;
  object-fit: cover;
}

.logo-div {
  width: 250px;
  height: 150px;
  margin-top: 30px;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
  display: flex;
}

/* Customização da Navegação */
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #3e2a25;
  font-weight: 500;
  padding: 15px;
  margin: 2rem 0;
  letter-spacing: 0.0625em;
}

/* Navbar Styles */
.nav-item:hover {
  font-weight: bolder;
  transform: scale(1.2);
}

/* Custom CSS for Dropdown */
.dropdown-toggle {
  background-color: #b76e79;
  color: white;
  padding: 10px 20px;
  margin-right: 25px;
}

.dropdown-toggle:hover {
  background-color: #a65b6e;
}

.dropdown-item {
  color: #3e2a25;
  padding: 5px 15px;
}

#mainNav {
  padding: 5px 0;
}

#mainNav .dropdown {
  margin-left: 20px;
}

#mainNav .dropdown .dropdown-menu  {
  background-color: #f7efe5;
  width: 14rem;
  font-size: 1.22rem;
  min-height: 5rem;
  
  
  
  
  
}

#mainNav .dropdown .dropdown-menu .dropdown-item{
  margin: 0.5rem 0;
  
}



#mainNav .nav-link:hover,
#mainNav .dropdown-item:hover {
  background-color: #d1c6b4;
  color: #3e2a25;
  max-width: 8rem;
}

ul.navbar-nav .nav-item {
   /* Margem inferior para cada item */
  margin-left: 3.1rem;
 
}



main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
/* Hero styles */
#hero {
  margin: 1rem 0;
  
  height: 4.5rem;
  width: 100%;
  background: url('../images/hero-image.png') no-repeat left center/cover;
  position: relative;
  /* Background colour if image doesn't load */
  background-color:#a65b6e;
  
  
}
.container-background{
  background-color: #f7efe5;
  min-width: 250px;
  max-width: 70%;
  margin-bottom: 3rem;
}

.sign-up {
  color: #4a474e;
  background-color: rgba(205, 172, 93, .5);
  padding: 20px 15px 0px 10px;
  margin-bottom: 30px;
}
/* Fundo do Formulário */

/* Botão de Envio */
form button[type="submit"] {
  background-color: #b76e79; /* Rose Gold - Fundo do botão */
  color: #ffffff; /* Texto Branco */
  font-family: 'Montserrat', sans-serif;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #c69c7b; /* Soft Bronze - Hover no botão */
}

/* Campos Desabilitados */
form input:disabled {
  background-color: #e5d3c3; /* Warm Beige - Fundo dos campos desabilitados */
  color: #b76e79; /* Rose Gold - Texto dos campos desabilitados */
  border-color: #f7efe5; /* Light Cream - Borda dos campos desabilitados */
}


/* Next, Previous, Back, Edit Comment, Jump button */
.page-buttons,
.edit-button {
    color: #ffffff;
    background-color: #b76e79;
    letter-spacing: 2px;
    border: none;
    transition-duration: 0.5s;
    margin-bottom: 20px;
    padding: 8px 15px;
    font-size: 80%;
}
/* Footer Styles */
footer {
  background-color: #f8f9fa; /* Light background color */
  padding: 40px 0; /* Add some padding to the footer */
}

.footer-title {
  font-weight: bold; /* Make the title bold */
  margin-bottom: 20px; /* Add some spacing below the title */
}

.social-links a {
   /* Set the color of the social links */
  font-size: 24px; /* Increase the size of the icons */
  margin: 0 10px; /* Add some spacing between the icons */
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

.fa-ul i{
  color:#c69c7b;
}
@media (min-width: 575.98px) {
  #hero{
    height: 8rem;
  }
}
@media (min-width: 768px) {
  /* Styles for tablets and medium devices */
  #mainNav .nav-link:hover,
#mainNav .dropdown-item:hover {
  background-color: #d1c6b4;
  color: #3e2a25;
  max-width: 13rem;
}
#hero{
  height: 10rem;
}
}
@media (min-width: 992px) {
  #hero{
    height: 15rem;
  }
}