{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'includes/messages.html' %}

<main>
    <!-- Seção com background image e texto -->
    <section class="hero-contact container w-100 mt-4">
        <div class="row d-flex flex-column align-items-start">
            <div class="col-md-4 hero-contact-contect">
                <h2>Let Us Glam Up Your Day!</h2>
                <div class="mt-5">
                    <p>Got a question? Drop us a line! Our team is here to make your beauty dreams come true</p>
                    <p>Fill out the form, and we’ll get back to you faster than a fresh blowout!</p>
                </div>
            </div>
        </div>
    </section>


    <section class="contact-form-section container mt-4 border">
        <div class="row p-4">
            <div class="col-md-8 offset-md-2">
                <form method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <div class="text-center ">
                        <button type="submit" class="btn btn-primary btn-large">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

<section>
    <div class="row p-4">
        <div class="col-md-8 offset-md-2">
            <!-- Add this form to allow admin to respond to contact messages -->
            <form id="contact-response-form">
                <textarea id="response-message" placeholder="Write your response here"></textarea>
                <button type="submit" id="send-email-btn">Send Response</button>
            </form>
        </div>
    </div>
</section>
<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
    (function () {
        emailjs.init("0jvgMBqq2VaB30rYy");

    })();
</script>
{% endblock %}