{% extends "base.html" %}
{% block title %}Services{% endblock %}
{% load static %}
{% block content %}
<main>
    <section class="service-video-highlight container mt-4">
        <div class="row d-flex">
            <div class="col-md-12">
                <video autoplay muted loop>
                    <source src="{% static 'videos/services-video-back.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="text-overlay  p-3">
                    <h1>Our Expertise</h2>
                        <p>Empowering your natural beauty, Curl & Glow transforms your look and boosts your confidence
                        </p>
                        <p>with personalized curls haircare in a welcoming environment</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-expertise mt-3">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Curls & Glow - Expert Curl Care & Pricing</h2>
            </div>
        </div>

        <div class="row">
            {% for service in services %}
            <div class="col-md-4 mb-3">
                <div class="card h-100 border rounded p-4 d-flex flex-column justify-content-between">
                    <div class="d-flex align-items-start">
                        <!-- Exibindo o ícone do serviço -->
                        <span class="me-2 fa-4x mt-5">
                            <i class="fa-solid {{ service.get_icon }}"></i>
                        </span>
                        <div>
                            <h4 class="card-title">{{ service.title }}</h4>
                            <p class="card-text">Price: € {{ service.price }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ service.description }}</small>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p class="p-2 text-center">Duration: {{ service.get_duration_display }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center mt-4 mb-3">
                    <h2>Ready to transform your Curls?</h2>
                    {% if user.is_authenticated %}
                    <a href="{% url 'home' %}" class="btn btn-base btn-dark-brown btn-small">Book Your Appointment
                        Now!</a>
                    {% else %}
                    <!-- Botão para exibir o alert -->
                    <button id="showModalButton" type="button" class="btn btn-base btn-dark-brown btn-small" data-bs-toggle="modal" data-bs-target="#alertModal">
                        Book Your Appointment Now!
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attention Required</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please <a href="{% url 'account_login' %}" class="alert-link">log in</a> or <a href="{% url 'account_signup' %}" class="alert-link">register</a> to book your appointment.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
</main>
{% endblock %}