{% extends "base.html" %}
{% block title %}Services{% endblock %}
{% load static %}
{% block content %}

<main>
    <section class="service-video-highlight container mt-3">
        <div class="row d-flex">
            <div class="col-md-12" >
                <video  autoplay muted loop >
                    <source src="{% static 'videos/services-video-back.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="text-overlay  p-3">
                    <h1>Our Expertise</h2>
                    <p>Empowering your natural beauty, Curl & Glow transforms your look and boosts your confidence</p>
                    <p>with personalized curls haircare in a welcoming environment</p>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}


{% endblock}