{% extends "base.html" %} 
{% block title %}Delete booking{% endblock %}
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
{% include 'includes/messages.html' %}

<div class="delete-container mt-4 mb-4 container-background p-4">
    <h1 class="delete-title text-uppercase">Delete Booking</h1> <!-- Title indicating booking deletion -->
    
    <!-- Warning message to confirm deletion of the specific booking -->
    <h5 class="delete-message">Are you sure you want to cancel your booking for <strong>{{ booking.service.title }}</strong> with <strong>{{ booking.stylish.name }}</strong> on <strong>{{ booking.date_time|date:"F j, Y" }}</strong> from <strong>{{ booking.date_time|time:"H:i" }}?</strong></h5>
    
    <form method="post"> 
        {% csrf_token %} <!-- CSRF token for security -->
        {{form | crispy}}
        <button type="submit" class="btn btn-danger">Delete</button> <!-- Submit button to confirm deletion -->
        <a href="{% url 'user_bookings' %}" class="btn btn-secondary ml-2">Cancel</a> <!-- Cancel button to return without deleting -->
    </form>
</div>

{% endblock %}
