{% extends "base.html" %}
{% load static %}
{% block title %}My Bookings{% endblock %}


{% block content %}
{% include 'includes/messages.html' %}
<section class="container container-user-bookings mt-3">
    <h1 style="letter-spacing: 0.3rem;">My Bookings</h1>
    {% if bookings %}
            
            <div class="row">
                {% for booking in bookings %}
                <div class="col-sm-12 lh-lg mt-2" >
                  <div class="card w-100 h-50 border border-2 text-wrap ">
                    <div class="card-body ">
                        <div class="mt-3 mt-lg-4" style="letter-spacing: 0.25rem; ">
                      <h4 class="card-title"><strong>Service:</strong>{{ booking.service.title }}</h4>
                      <h4 class="card-text"><strong>Date and Time:</strong> {{ booking.date_time }}</h4>
                      <h4 class="card-text"><strong>Stylist:</strong>{{ booking.stylish.name }}</h4>
                    </div>
                    <div class="col-sm-12 mt-3 mt-lg-5">
                        <a href="#" class="btn btn-sm btn-dark p-2 ">Edit</a>
                        <a href="{% url 'delete_appointment' booking.pk %}" class="btn btn-sm btn-danger  p-2">Delete</a>
                        <a href="#" class="btn btn-primary btn-sm disabled p-2" tabindex="-1" role="button" aria-disabled="true">Leave Testimonial</a>
                    </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
            
    {% else %}
        <p>You have no bookings yet.</p>
    {% endif %}
</section>
{% endblock %}
